<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item active" aria-current="page">Login</li>
</ol>
<h1 class="display-4 mb-4">Login</h1>
<form method="POST" action="login">
  <div class="form-group">
    <label for="username">Username</label>
    <input class="form-control mb-4" autofocus="autofocus" type="text" name="username" minlength="6" maxlength="20" pattern="[a-zA-Z0-9]+" required>
    <label for="password">Password</label>
    <input class="form-control mb-4" type="password" name="password" minlength="6" maxlength="20" pattern="[a-zA-Z0-9]+" required>
    <input class="btn btn-block btn-info" type="submit" value="Login">
  </div class="form-group">
</form>
